@charset "UTF-8";

.calendar{
    text-align: center;
}

.talk{
    text-align: left;
    margin-left: 30px;
    position: absolute; bottom: 500px; left: 50px;
}

.talk_t{
    color: #181818;
}

.tag{
  /* border-radius:10px 10px 10px 10px;
  background: #6cdeff; */
    box-shadow: 0 5px #8e9fea;
    border-radius: 5px;
    width: 200px;
    padding: 15px;
    box-sizing: border-box;
    background: #c4d9fe;
    color: #181818;
    text-decoration: none;
    text-align: center;
    margin: 10px 0;

    margin-right: 30px;
    position: absolute; bottom: 500px; right: 50px;
}