@charset "UTF-8";

/* .calendar-val{
    text-align: center;
} */

.talk{
    text-align: left;
    /* margin-left: 30px; */
    position: absolute;
    /* bottom: 500px; */
    left: 50px;
}

.talk_t{
    color: #181818;
}

.tag {
  /* border-radius:10px 10px 10px 10px;
      background: #6cdeff; */
  box-shadow: 0 5px #8e9fea;
  border-radius: 5px;
  width: 200px;
  padding: 15px;
  box-sizing: border-box;
  background: #c4d9fe;
  color: #181818;
  text-decoration: none;
  text-align: center;
  margin: 10px 0;

  /* margin-right: 30px;
  margin: 65px; */
  /* margin-bottom: 30px; */
  /* display: flex;
  position: absolute;
  right: 50px; */
}

.talkroom{
  background-color: lightgoldenrodyellow;
  margin-left: 30px;
  margin-top: 30px;
  width: 300px;
  height: 300px;

}

.web-name{
  color: #555;
  text-decoration: none;
}

.btn-flex{
  text-align: center;
}
@media(min-width:801px){
.all{
  display: flex;
  white-space: pre;
  ;
}

.btn-flex{
  margin-left: 300px
}
}


@media screen and (max-width:600px){
    .tag{
      position: static;
      text-align: center;
    }

    .all{
      white-space: nowrap; 
    }
}