@charset "UTF-8";

.company-details{
  /* margin-left: 150px; */
}

.event-details{
  text-align: center;
}

.booking{
  text-align: center;
}

@media screen and (max-width: 768px) {
  .company-details{
    text-align: center;
  }
}